#root {
  max-width: 100vw;
  margin: 0 auto;
  text-align: center;
  box-sizing: border-box;
}

.header {
  background-image: linear-gradient(to right, #fc5c7d, #6a82fb);
  width: inherit;
  display: flex;
  align-items: center;
  padding: 0 3rem;
}

.header > img {
  height: 35px;
  padding-right: 10px;
}

.header > p {
  margin-left: auto;
  font-size: 18px;
}

main {
  padding: 2rem;
  margin: auto;
  max-width: 650px;
  display: flex;
  flex-direction: column;
}

.form {
  display: grid;
  max-width: 800px;
  padding-top: 2rem;
  justify-content: center;
  grid-template: 40px 40px / 1fr 1fr;
  gap: 15px;
}

.form--input {
  text-indent: 5px;
  border: 1px solid #d5d4d8;
  border-radius: 5px;
  font-size: 16px;
}

.form--btn {
  grid-column: 1 / -1;
  border-radius: 5px;
  background-image: linear-gradient(to right, #33001b, #ff0084);
  cursor: pointer;
  border: none;
}

.meme {
  position: relative;
  max-width: 100%;
  padding-top: 2rem;
  /* height: auto; */
}

.meme--img {
  grid-column: 1 / -1;
  position: relative; 
  width: 100%; 
  margin: 0; 
}


.meme--text {
  position: absolute;
  text-shadow:2px 1px 5px#33001b;
  padding: 0rem;
  margin: 0;
  font-size: 30px;
  /* top: 20%; */
  left: 50%;
  transform: translate(-50%, -50%);
}
.top {
  top: 25%;
}

.bottom {
  top: 78%;
}

/* Styling for mobile devices */
@media (max-width: 500px) {
  .meme--text {
    font-size: 18px;
    line-height: 1;
  }

  .header {
    padding: 0 10px;
  }

  .header > h2 {
    font-size: 16px;
  }
  

  .header > p {
    margin-left: auto;
    font-size: 12px;
  }

  .form {
    grid-template: 40px 40px/ 1fr;
  }

  .top {
    top: 33%;
  }

  .bottom {
    top: 83%;
  }
}